<h1>Geo App</h1>
<p><strong>Location:</strong> <%= @location if @location %></p>
<!--p><strong>City:</strong> <%= @city if @city %></p-->
<p><strong>Currency:</strong> <%= number_to_currency(100) %></p>
